<a href="https://colab.research.google.com/github/ruthuraraj/Learning-Programing-Algorithms-and-Data-Structures-using-Python/blob/main/Dynamic_Programing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **746. Min Cost Climbing Stairs**

In [ ]:
def mincost(cost):
  total_cost = 0
  if cost[1] <= cost[0] or len(cost) == 3:
    i = 1
  else:
    i = 0
  while i <= len(cost):
    if i + 1 == len(cost) or i + 2 == len(cost): #greedy approach
      total_cost += cost[i]
      return total_cost
    if cost[i + 2] <= cost[i + 1] or i + 4 == len(cost): #greedy approach
      total_cost += cost[i]
      i += 2
    else:
      total_cost += cost[i]
      i += 1

In [ ]:
mincost([1,100,1,1,1,100,1,1,100,1])

104

In [ ]:
def mincost(cost):
        i = len(cost)
        total_cost = {0: cost[0], 1: cost[1]} #Dictionary for Memoization
        def min_cost(n):
            if n not in total_cost:
                total_cost[n] = cost[n] + min(min_cost(n - 1), min_cost(n - 2))
            return total_cost[n]
        return min(min_cost(i - 1), min_cost(i - 2))

In [ ]:
mincost([1,100,1,1,1,100,1,1,100,1])

6

In [ ]:
def mincost(cost):
  total_cost = [0] * len(cost)

  for i in range(len(cost)):
    if i == 0 or i == 1:
      total_cost[i] = cost[i]
    else:
      total_cost[i] = cost[i] + min(total_cost[i - 1], total_cost[i - 2]) #DP table building
  return min(total_cost[-1], total_cost[-2]) #minimum of last two values will be minimum cost

In [ ]:
mincost([1,100,1,1,1,100,1,1,100,1])

6

# **198. House Robber**

In [ ]:
def rob(nums):
  total_money = [0] * len(nums)

  if len(nums) < 2:
    return max(nums)

  for i in range(len(nums)):
    if i == 0 or i == 1:
      total_money[i] = nums[i]
    else:
      total_money[i] = nums[i] + max(total_money[:i - 1])
  return max(total_money[-1], total_money[-2])

In [ ]:
rob([1, 1, 3, 6, 7, 10, 7, 1, 8, 5, 9, 1, 4, 4, 3])

42

In [ ]:
def rob(nums):
  total_money = [0] * len(nums)

  if len(nums) < 2:
    return max(nums)

  for i in range(len(nums)):
    if i == 0:
      total_money[i] = nums[i]
      #print(total_money)
    elif i == 1:
      total_money[i] = max(total_money[i - 1], nums[i])
      #print(total_money)
    else:
      total_money[i] = max(total_money[i - 1], nums[i] + total_money[i - 2])
      #print(total_money)
  return total_money[-1]

In [ ]:
rob([1, 1, 3, 6, 7, 10, 7, 1, 8, 5, 9, 1, 4, 4, 3])

42

In [ ]:
def rob(nums):

  previous_loot, max_loot, temp = 0, 0, 0

  if len(nums) < 2:
    return max(nums)

  for i in range(len(nums)):
    if i == 0:
      previous_loot = nums[i]
    elif i == 1:
      max_loot = max(previous_loot, nums[i])
    else:
      temp = max_loot
      print(temp)
      max_loot = max(max_loot, nums[i] + previous_loot)
      previous_loot = temp
  return max_loot

In [ ]:
rob([2,3,4])

3

6


# **213. House Robber II**

In [ ]:
def rob_II(nums):

  previous_loot_1, max_loot_1, temp_1 = 0, 0, 0
  previous_loot_2, max_loot_2, temp_2 = 0, 0, 0

  if len(nums) <= 2:
    return max(nums)

  for i in range(len(nums) - 1):
    if i == 0:
      previous_loot_1 = nums[i]
    elif i == 1:
      max_loot_1 = max(previous_loot_1, nums[i])
    else:
      temp_1 = max_loot_1
      max_loot_1 = max(max_loot_1, nums[i] + previous_loot_1)
      previous_loot_1 = temp_1

  for j in range(1, len(nums)):
    if j == 1:
      previous_loot_2 = nums[j]
    elif j == 2:
      max_loot_2 = max(previous_loot_2, nums[j])
    else:
      temp_2 = max_loot_2
      max_loot_2 = max(max_loot_2, nums[j] + previous_loot_2)
      previous_loot_2 = temp_2

  return max(max_loot_1, max_loot_2)

In [ ]:
rob_II([1,2])

2

In [ ]:
def rob_II(nums):

  if len(nums) <= 2:
    return max(nums)

  def rob_range(start, end):

    previous_loot, max_loot, temp = 0, 0, 0

    for i in range(start, end):
      if i == start:
        previous_loot = nums[i]
      elif i == start + 1:
        max_loot = max(previous_loot, nums[i])
      else:
        temp = max_loot
        max_loot = max(max_loot, nums[i] + previous_loot)
        previous_loot = temp

    return max_loot

  loot_1 = rob_range(0, len(nums) - 1)
  loot_2 = rob_range(1, len(nums))

  return max(loot_1, loot_2)

In [ ]:
rob_II([1,2,3,1])

4

# **740. Delete and Earn**

In [ ]:
def deleteAndEarn(nums):
  points_earned = {}
  for num in set(nums):
    a = nums.index(num)
    print(a)
    copy = nums[a:] + nums[:a]
    print(copy)
    points_earned[num] = 0
    for value in copy:
      temp = value
      points_earned[num] += value * copy.count(value)
      if temp + 1 in copy:
        copy.remove(temp + 1)
        #print(copy)
      if temp - 1 in copy:
        copy.remove(temp - 1)
        #print(copy)
      copy.remove(temp)
      #print(copy)
      #if not copy:
        #break

  return max(points_earned.values())

In [ ]:
deleteAndEarn([3,4,2])

2
[2, 3, 4]
0
[3, 4, 2]
1
[4, 2, 3]

4

In [ ]:
from collections import Counter
def deleteAndEarn(nums):
  nums_counter = Counter(nums)
  previous_loot, max_loot, temp = 0, 0, 0
  points = sorted(nums_counter)

  for i in range(len(points)):
    if i == 0:
      previous_loot = points[i] * nums_counter[points[i]]
      max_loot = previous_loot
    elif i == 1:
      if points[i] - points[i - 1] != 1:
        max_loot += points[i] * nums_counter[points[i]]
      else:
        max_loot = max(previous_loot, points[i] * nums_counter[points[i]])
    else:
      temp = max_loot
      if points[i] - points[i - 1] != 1:
        max_loot += points[i] * nums_counter[points[i]]
      else:
        max_loot = max(max_loot, previous_loot + points[i] * nums_counter[points[i]])
      previous_loot = temp

  return max_loot

In [ ]:
deleteAndEarn([1,1,1,1,1,1])

6

In [ ]:
from collections import Counter
def deleteAndEarn(nums):
  nums_counter = Counter(nums)
  points = sorted(nums_counter)
  pts_earned = [0] * len(points)

  for i in range(len(points)):
    if i == 0:
      pts_earned[i] = points[i] * nums_counter[points[i]]
    elif i == 1:
      if points[i] - points[i - 1] != 1:
        pts_earned[i] = pts_earned[i - 1] + points[i] * nums_counter[points[i]]
      else:
        pts_earned[i] = max(pts_earned[i - 1], points[i] * nums_counter[points[i]])
    else:
      if points[i] - points[i - 1] != 1:
        pts_earned[i] = pts_earned[i - 1] + points[i] * nums_counter[points[i]]
      else:
        pts_earned[i] = max(pts_earned[i - 1], pts_earned[i - 2] + points[i] * nums_counter[points[i]])

  return pts_earned[-1]

In [ ]:
deleteAndEarn([1,6,3,3,8,4,8,10,1,3])

43

# **55. Jump Game**

In [ ]:
def jump(nums):
  if not nums or nums[0] == 0:
    return False
  index, i = 0, 0
  while index < len(nums) - 1:
    i += index
    if nums[i] == 0:
      break
    if index + nums[i] >= len(nums) - 1:
      print(index,i)
      return True
    else:
      result = [(nums[j], j) for j in range(index + 1, nums[i] + 1)]
      index = max(result)[1]
      print(max(result),index,i)

  return False

In [ ]:
jump([2, 0, 2, 0, 1])

(2, 2) 2 0
2 2

True

In [ ]:
def jump(nums):
  if len(nums) <= 1:
    return True

  max_jump = 0

  for i in range(len(nums) - 1):
    max_jump = max(max_jump, i + nums[i])
    if max_jump >= len(nums) - 1:
      return True
    if max_jump <= i:
      return False

  return False

In [ ]:
jump([0,2,0])

False

In [ ]:
def jump(nums):

  if len(nums) == 1:
    return True

  jump_check = [False] * (len(nums) - 1)
  max_jump = [0] * (len(nums) - 1)

  for i in range(len(nums) - 1):

    if i == 0 and nums[i] != 0:
      jump_check[i] = True
      max_jump[i] = i + nums[i]

    else:
      max_jump[i] = max(max_jump[i - 1], i + nums[i])

      if jump_check[i - 1] == True and max_jump[i - 1] >= i and max_jump[i] > i:
        jump_check[i] = True

  print(jump_check, max_jump)
  if jump_check[-1] == True:
    return True
  return False

In [ ]:
jump([1,0,1,0,1])

[True, False, False, False] [1, 1, 3, 3]

False

# **45. Jump Game II**

In [ ]:
def jumpII(nums):
  if len(nums) == 1:
    return 0
  jump_end, max_jump, count = 0, 0, 0
  for i in range(len(nums) - 1):
    max_jump = max(max_jump, i + nums[i])
    if jump_end == i:
      count += 1
      jump_end = max_jump
      print(jump_end, max_jump, count)
      if max_jump >= len(nums) - 1:
        return count

In [ ]:
jumpII([1,2,3,4,5,6,1,1,1,1,1])

1 1 1
3 3 2
7 7 3
11 11 4

4

In [ ]:
def jumpII(nums):
  if len(nums) == 1:
    return 0
  max_jump = [0] * len(nums)
  jump_count = [0] * len(nums)
  #jump_end= 0
  for i in range(len(nums)):
    if i == 0:
      max_jump[i] = nums[i]
      #jump_end = nums[i]
    else:
      max_jump[i] = max(max_jump[i - 1], i + nums[i])
      for j in range(i):
        if max_jump[j] >= i:
          jump_count[i] = jump_count[j] + 1
          break

  return jump_count[-1]

In [ ]:
jumpII([1,2])

1

In [ ]:
def jumpII(nums):
  if len(nums) == 1:
    return 0
  jump_count = [0] * len(nums)

  for i in range(1, len(nums)):
      for j in range(i):
        if j + nums[j] >= i:
          jump_count[i] = jump_count[j] + 1
          break

  return jump_count[-1]

In [ ]:
jumpII([1,2,3,4,5,6,1,1,1,1,1])

1